= simple_form_for @note do |f|
  = f.input :title, :placeholder => "Add a title", required: false, label: false
  = f.input :body, :placeholder => "Add a new note", required: false, label: false
  = f.button :submit
